<main>
 <h1>Blog</h1>
<div class="containar">
 <div class="row">
  <div class="col-lg-4">
   <h1>新規投稿</h1>
   <%= form_with model:@blog_new, local:true do |f| %>
   <h4>タイトル</h4>
   <%= f.text_field :title %>
   <h4>カテゴリー</h4>
   <%= f.text_field :category %>
   <h4>本文</h4>
   <%= f.text_area :body %>
   <h4>画像</h4>
   <%= f.attachment_field :image %>

   <%= f.submit '投稿'%>
   <% end %>
  </div>

  <div class="col-lg-8">
   <table>
    <thead>
     <tr>
      <th>タイトル</th>
      <th>カテゴリー</th>
      <th>画像</th>
      <th>本文</th>
      <th>投稿日時</th>
      <th calspan="2"></th>
     </tr>
    </thead>
    <tbody>
    <% @blogs.each do |blog| %>
     <tr>
      <th><%= blog.title %></th>
      <th><%= blog.category %></th>
      <th><%= attachment_image_tag blog, :image, :fill, 50, 50, format: 'jpeg' %></th>
      <th><%= blog.body %></th>
      <th><%= blog.created_at.to_s(:datetime_jp) %></th>
      <th><%= link_to "詳細", blog_path(blog) %></th>
      <th><%= link_to "削除", blog_path(blog), method: :delete %> </th>
     </tr>
    </tbody>
    <% end %>
   </table>
  </div>
 </div>
</div>
</main>