<main>
<div class="containar">
 <div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xl-4", style=" padding: 0;"><%#= image_tag "ocean.jpg", width: "100%", height: "180" %>
   <div><%= image_tag "coast.png", width: "100%", height: "800" %>
   <div class="card-img-overlay">
    <p class="text-white">
      <% if @blog.errors.any? %>
       <%= @blog.errors.count %>件のエラーが発生しました
       <% @blog.errors.full_messages.each do |message| %>
       <%= message %>
       <% end %>
      <% end %></p>
   <h1>New post</h1>
   <%= form_with model: @blog, local:true do |f| %>
   <h4>Title</h4>
   <%= f.text_field :title %>
   <h4>Category</h4>
   <%= f.text_field :category %>
   <h4>Contents</h4>
   <%= f.text_area :body %>
   <h4>Picture</h4>
   <%= f.attachment_field :image %>

   <%= f.submit 'Post'%>
   <% end %>
    </div>
   </div>
  </div>

  <div class="col-lg-8 col-md-8 col-sm-8 col-xl-8", style=" padding: 0;">
   <%= image_tag "ocean.png", width: "100%", height: "100%" %>
    <div class="card-img-overlay">
   <table>
    <thead>
     <tr>
      <th>Picture</th>
      <th>Category</th>
      <th>Title</th>
      <th>Contents</th>
      <th>Date</th>
      <th></th>
      <th calspan="2"></th>
     </tr>
    </thead>
    <tbody>
    <% @blogs.each do |blog| %>
     <tr>
      <th><%= attachment_image_tag blog, :image, :fill, 100, 100, format: 'jpeg' %></th>
      <th><%= blog.category %></th>
      <th><%= blog.title %></th>
      <th><%= blog.body %></th>
      <th><%= blog.created_at.to_s(:datetime_jp) %></th>
      <th><%= link_to "#{blog.post_comments.count} コメント", blog_path(blog.id) %></th>
      <th><%= link_to "詳細", blog_path(blog) %></th>
      <th><%= link_to "削除", blog_path(blog), method: :delete %></th>
     </tr>
    </tbody>
    <% end %>
   </table>
   </div>
  </div>
 </div>
</div>
</main>