<main>
 <div class="containar">
  <div class="row", style=" margin: 0;">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xl-12", style=" padding: 0;">
     <div><%= image_tag "cafe-youhuu.jpg", width: "100%", height: "600" %>
      <div class="card-img-overlay">
       <div class="text-white">

   <table>
    <tbody>
     <tr>
      <th><%= attachment_image_tag @blog, :image, :fill, 300, 300, format: 'jpeg' %></th>
      <th><%= @blog.title %></th>
      <th><%= @blog.category %></th>
      <th><%= @blog.body %></th>
      <th><%= @blog.created_at.to_s(:datetime_jp) %></th>
      <th><%= link_to "編集", edit_blog_path(@blog) %></th>
      <th><%= link_to "削除", blog_path(@blog), method: :delete %></th>

      <th><% if @blog.favorited_by?(current_user) %>
          <%= link_to blog_favorites_path(@blog), method: :delete do %>
          ♥<%= @blog.favorites.count %> いいね
         <% end %>

         <% else %>
         <%= link_to blog_favorites_path(@blog), method: :post do %>
          ♡<%= @blog.favorites.count %> いいね
         <% end %>
         <% end %>
      </th>

      <th><div class="comments">
          <p>コメント件数：<%= @blog.post_comments.count %></p>
           <% @blog.post_comments.each do |post_comment| %>
           <%= post_comment.user.name %>
           <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
           <% if post_comment.user == current_user %>
           <div class="comment-delete">
           <%= link_to "削除", blog_post_comment_path(post_comment.blog, post_comment), method: :delete %>
           </div>
           <% end %>
           <% end %>
           </div>
       </th>

       <th><div class="new-comment">
           <%= form_with(model:[@blog, @post_comment], local: true) do |f| %>
           <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
           <%= f.submit "送信する" %>
           <% end %>
           </div>
       </th>

      </tr>
    </tbody>
   </table>

      </div>
     </div>
    </div>
   </div>

  </div>
 </div>
</main>